.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(6,1fr);
  gap: 10px;
}
.grid div{
  background-color: #00C2FFF0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
} 
.grid .one{
  grid-row: span 1;
  grid-column: span 3;
}
.grid .two{
  grid-row: span 1;
  grid-column: span 2;
}
.grid .three {
  grid-row: span 1;
  grid-column: span 1;
}
.grid .four {
  grid-row: span 1;
  grid-column: span 1;
}
.grid .five {
  grid-row: span 3;
  grid-column: span 2;
}
.grid .six {
  grid-row: span 1;
  grid-column: span 1;
}
.grid .seven {
  grid-row: span 1;
  grid-column: span 1;
}
.grid .eight {
  grid-row: span 1;
  grid-column: span 3;
}