.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: auto repeat(2,1fr) auto;
  grid-template-rows: 1fr auto;
  gap: 10px;
}
.grid div{
  background-color: #3F3A38F0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
