.grid {
  background-color: #ddd;
  padding: 20px;
  width: 800px;
  height: 400px;
  margin: 40px auto;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(2,1fr);
  align-content: space-between;
  column-gap: 10px;
  
}
.grid div{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #FF0097F0;
  color: white;
}